/* .App {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 20px;
    line-height: 20px;
} */

.App {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
}