.App {
    display: grid;
    place-items: center;
    text-align: center;
    
    font-family: 'Poppins', sans-serif;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}